<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
<h1>Добавить пользователя</h1>
<form th:action="@{add}"
      th:object="${user}"
      method="post">
    <fieldset>
        <legend>Данные пользователя</legend>
        <p>
            <label th:for="username">Логин
                <input type="text"
                       name="username"
                       th:id="username">
            </label>
            <br>
            <br>
            <label th:for="password">Пароль
                <input type="text"
                       name="password"
                       th:id="password">
            </label>
            <br>
            <br>
            <label>Администратор
                <input type="checkbox"
                       name="roleAdmin"
                       th:value="ROLE_ADMIN"
                       th:text="Администратор">
            </label>
        </p>
    </fieldset>
    <button type="submit">Сохранить пользователя</button>
</form>
<br/>
<form th:action="@{/admin/allUsers}">
    <button type="submit">Назад к списку пользователей</button>
</form>
<br/>
<button class="buttonLogout" onclick="window.location.href = '/logout';">Выйти</button>
</body>
</html>